<% include layout %>
<div class="container" width="60px">
    <p>Similar to the stock market the Crypto currency market has experienced a growth in various
        investing options for the investors. On the block chain one can trade crypto currencies 
        with actual real-life assets and one can also invest in various fundraisers of startups 
        for ICO’s which can be traded for monetary value in the startup’s environment. 
        Since this is an emerging field there is no major applications or websites which provide
        consulting services for the crypto-assets. We can access past data and use AI to forecast
        and predict future trends and advice the investors accordingly.
    </p>
</div>