
  
  <% include layout %>
  
  <!-- <p>Welcome to <%= title %></p> -->
  <div class="container">
      <h1><%= title %></h1>
    <div id="root1"></div>
  </div>
    
 

  <script src="/javascripts/api.js">
  
  </script>
  
