
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ICOs</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />


</head>
<body>
  <div id="navbar1">
    <div class="container">
      <nav class="navbar navbar-default navbar-inverse">
      <div class="container-fluid">
  
        <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
          <a class="navbar-brand" href="/">CryptoAsset</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  
          <ul class="nav navbar-nav">
            <li><a href="/"><i class="glyphicon glyphicon-home"></i></a></li>
            <li><a href="/about">About</a></li>
          </ul>	
          
          </div>
        </div>
    </nav>
   </div>
   </div>
<!-- </body>
</html> -->